<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cadastro de Estabelecimento</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        
        <link href="/stylesheets/styles.css" rel="stylesheet" />
        
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav" style="background-color: #0097A7; ;">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    <img src="/images/20201212_202202.png" width="170" height="97" class="d-inline-block align-top" 
                   alt="">
                </a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Produtos</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Ajuda</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contato</a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Pesquisar.." aria-label="Search">
                      <button class="btn btn-dark" type="submit">Buscar</button>
                    </form>
                  </div>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    
                      <button class="btn btn-dark" type="submit">Entrar</button>
                
                  </div>
                 
            </div>
        </nav>
        
        <section style="margin-top: 180px;">
            <main class="container mt-4">
              <h2>Lista de Produtos</h2>
              <div class="row row-cols-1 row-cols-md-3 g-4">
              <% products.forEach(products => { %>

                <div class="col">

                <div class="card">
                    <img src="<%= products.imag %>" class="card-img-top" id="imag" alt="<%= products.imag %>">
                    <div class="card-body">
                      <h5 class="card-title"><%= products.nome %></h5> 
                      <h5 class="card-title"><%= products.preco %></h5>
                      <h5 class="card-title"><%= products.unidade_medida %></h5>
                      <p class="card-text"><%= products.descricao %></p>
                      <a href="#" class="btn btn-primary">comprar</a>
                      <form action="/produtos/deletar/<%= products.id %>?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger">Exluir</button>
                    </form>
                    </div>
                  </div>
                </div>

                    <% }) %>
                </div>

            
                                


                    
                  

                
              
    
              
            </main>
           </section>
        
                
        
        <!-- Bootstrap core JS-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        
        <!-- Core theme JS-->
        <script src="/javascripts/scripts.js"></script>
    </body>
</html>
